#projects-index
  .column-main

    .projects-index-sort-menu-form.cf
      .categories
        .selected
          All Projects
        %i.fa.fa-caret-down

      .order-types
        .selected
          Featured
        %i.fa.fa-caret-down

    .projects-index-list.cf
