#sidebar {
  padding: 30px 20px;

  @media only screen and (max-width: 780px) {
    display: none;
  }

  .headline {
    font-size: 11px;
    color: #a1aeb0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
  }

  #trending-tags {
    margin-top: 14px;
    display: flex;
    flex-wrap: wrap;

    .trending-tag {
      float: left;
      color: #404346;
      font-size: 18px;
      font-weight: 300;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:after {
        content: ",";
        margin-right: 2px;
      }

      &:last-child {
        &:after {
          content: '';
        }
      }
    }
  }
}
