.site-logo {
  color: #404346;
  height: 20px;

  .site-logo-title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }

  .site-logo-company {
    display: inline-block;
    margin-top: 6px;
    margin-left: 4px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
    font-style: italic;
    vertical-align: top;
  }
}
