%header#header.cf
  .header-menu-list
    %i.fa.fa-list-ul

  .site-logo-wrapper
    .site-logo
      %span.site-logo-title
        CASE
      %span.site-logo-company
        by Wantedly

  .header-menues
    .header-menue-close-wrapper.cf
      .header-menue-close
        = image_tag 'close_popup_w.png', width: 20, height: 20, class: 'header-menue-close-image'

    %ul.header-menues-inner
      %li.header-menu
        Feed

      %li.header-menu.active
        Projects

      %li#search-box
        %i.fa.fa-search#search-box-icon
        = text_field_tag 'q', nil, placeholder: "Search projects, teams, and people", id: "search-bar-input", autocomplete: :off

  #header-avatar
    = image_tag 'https://d2v9k5u4v94ulw.cloudfront.net/small_light(dw=60,dh=60,da=s,ds=s,cw=60,ch=60,cc=FFFFFF)/assets/images/133790/original/a21ef78b-68fd-4dce-a0c3-c94916bf3019.jpeg?1456597854', id: 'header-avatar-image'

  #notification
    #notification-icon
      %i.fa.fa-bell
      %span#notification-counter
        3

