%article#sidebar
  %h1.headline
    TRENDING TAGS
  %p#trending-tags
    - ['Branding', 'Event', 'Movie', 'Promotion', 'Web', 'Mobile', 'iOS', 'UI/UX', 'Android'].each do |tag|
      .trending-tag
        %span><
          = tag
